.jumbotron{
  background: rgba(33, 33, 33, 0.6);
  margin-top: 20px;
  height: 240px;
}
.image-responsive{
  width: 10%;
  height: auto;
}

.navbar-brand {
  margin: 0;
  padding: 0;
}

.navbar-brand img {
  max-height: 100%
}

.bg-black {
  background-color: #222222;
}

.nav-item-special {
  margin-left:10px;
  margin-right:10px;
}

.h1{
   font-size: 4em;
}

.fa-play-circle-o {
  margin-top: 60px;
  color: #6CB8FF;
}

.card {
  margin-left: 20px;
  margin-right: 20px;
}
